<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: header"/>
</head>
<body>
<div th:replace="fragments/layout :: nav(group)"/>

<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
        </div>

        <div class="col-md-6 gedf-main">
            <!-- create the group using title and description -->
            <form method="post" th:action="@{/group/create}">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h7 text-muted">Group name</div>
                        <input type="text" class="form-control" name="name">
                    </li>
                    <li class="list-group-item">
                        <div class="h7 text-muted">Description</div>
                        <textarea name="description" class="form-control" rows="3"></textarea>
                    </li>
                    <li class="list-group-item">
                        <div class="form-group">
                            <label class="sr-only">search</label>
                            <input class="form-control" placeholder="Username" type="text" id="username"/>
                        </div>
                    </li>
                    <li id="members" class="list-group-item">
                        <input type="hidden" name="members[0].id" th:value="${session.user_id}">
                    </li>
                    <li class="list-group-item">
                        <input type="hidden" name="owner.id" th:value="${session.user_id}">
                        <input type="submit" name="submit" class="btn btn-success" value="Create group">
                    </li>
                </ul>
            </form>

        </div> <!-- .col md 6 -->
        <div class="col-md-3 text-center">

        </div>
    </div>
</div>

<input type="hidden" id="apicontroller" th:value="@{/api/users}" >

<div th:replace="fragments/layout :: footer"/>
<script>
$( function() {
        var memberCount = 1;
		$( "#username" ).autocomplete({
			source: $("#apicontroller").val(),
			select: function( event, ui ) {
			    console.log(ui);
				$("#members").append('<input type="hidden" name="members[' + memberCount + '].id" value="' + ui.item.value + '" >');
				$("#members").append(memberCount + '. ' + ui.item.label + ' <br>');
				memberCount = memberCount + 1;
				return false;
			},
			change: function (event, ui) {
				if(!ui.item){
					$("#username").val("");
				}
			}
		});
	} );


</script>

</body>
</html>