<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: header"/>
</head>
<body>
<div th:replace="fragments/layout :: nav(group)"/>

<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div th:replace="fragments/submenu :: group(${activeTab})"></div>
            </div>
        </div>
        <!-- list of all the groups -->
        <div class="col-md-6 gedf-main">
            <div class="card gedf-card" th:each="group : ${groups}">
                <div th:replace="group/card :: card(${group})" />
            </div>
        </div> <!-- .col md 6 -->
        <div class="col-md-3 text-center">

        </div>
    </div>
</div>

<div th:replace="fragments/layout :: footer"/>


</body>
</html>