<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: header"/>
</head>
<body>
<div th:replace="fragments/layout :: nav(group)"/>

<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div th:replace="fragments/submenu :: group(${activeTab})"></div>
            </div>
        </div>
        <!-- list of all the groups -->
        <div class="col-md-6 gedf-main">
            <div class="card gedf-card" th:each="member: ${group.members}">
                <div th:replace="user/card :: card(${member})"/>
            </div>
        </div> <!-- .col md 6 -->
        <div class="col-md-3">
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${group.name}">About this group ! </h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${group.description}"></h6>
                    <p class="card-text"></p>
                </div>
                <div th:replace="fragments/submenu :: groupRightMenu(${group.id}, members)"></div>
            </div>
        </div><!-- .col md 3 -->
    </div>
</div>

<div th:replace="fragments/layout :: footer"/>


</body>
</html>