<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: header"/>
</head>
<body>
<div th:replace="fragments/layout :: nav(group)"/>

<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div th:replace="fragments/submenu :: group(${activeTab})"></div>
            </div>
        </div>
        <!-- list of all the groups -->
        <div class="col-md-6 gedf-main">
            <div class="card gedf-card" th:each="member: ${group.members}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${member.user.fullName}"></h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${member.user.role}"></h6>
                    <p class="card-text" th:text="${member.user.username}"></p>
                    <a th:href="@{/user/profile/} + ${member.user.id}" class="card-link">View profile</a>
                </div>
            </div>
        </div> <!-- .col md 6 -->
        <div class="col-md-3 text-center">
            <div th:replace="group/card :: card(${group})"/>
        </div>
    </div>
</div>

<div th:replace="fragments/layout :: footer"/>


</body>
</html>