<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Custom styles for header -->
    <div th:replace="fragments/layout :: header"/>
</head>
<body>
<!-- Custom styles for navigation bar -->
<div th:replace="fragments/layout :: nav(group)"/>

<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div th:replace="fragments/submenu :: group(${activeTab})"></div>
            </div>
        </div><!-- .col-md-3 -->
        <!-- list of all the groups -->
        <div class="col-md-6 gedf-main">
            <div class="card gedf-card" th:each="member: ${group.members}">
                <div th:replace="user/card :: card(${member})"/>
                <div class="card-footer">
                    <!-- privileges -->
                    <span th:if="${#lists.contains(group.owner, member)}"><i class="fas fa-shield-alt"></i> Owner&ensp;|&ensp;</span>
                    <span th:if="${#lists.contains(group.admins, member)}"><i class="fas fa-award"></i> Admin&ensp;|&ensp;</span>
                    <span><i class="far fa-star"></i> Member</span>&ensp;
                    <!-- .privileges -->
                    <!-- owner panel to promote or revoke admin access -->
                    <span th:if="${isOwner} == true and ${member.id} != ${group.owner.id}">
                        &ensp;|&ensp;
                        <a th:href="@{/group/} + ${group.id} + '/removeAdmin?userId=' + ${member.id}"
                           th:if="${#lists.contains(group.admins, member)}">
                            <i class="fas fa-arrow-down"></i> Revoke admin access
                        </a>
                        <a th:href="@{/group/} + ${group.id} + '/addAdmin?userId=' + ${member.id}"
                           th:unless="${#lists.contains(group.admins, member)}">
                            <i class="fas fa-arrow-up"></i> Promote to admin
                        </a>
                    </span>
                    <!-- .owner panel -->
                    <!-- admin panel to remove members only if member is not owner -->
                    <span th:if="${isAdmin} == true and ${member.id} != ${group.owner.id}">
                        &ensp;|&ensp;
                        <a th:href="@{/group/}"><i class="fas fa-user-minus"></i> Remove from group</a>
                    </span>
                    <!-- .admin panel -->
                </div>
            </div>
        </div> <!-- .col md 6 -->
        <div class="col-md-3">
            <div th:replace="fragments/submenu :: groupRightMenu(${group.id}, ${group.name}, members)"></div>
        </div><!-- .col md 3 -->
    </div>
</div>
<!-- Custom styles for footer -->
<div th:replace="fragments/layout :: footer"/>


</body>
</html>