<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Custom styles for header -->
    <div th:replace="fragments/layout :: header"/>
</head>
<body>
<!-- Custom styles for navigaion bar -->
<div th:replace="fragments/layout :: nav(group)"/>
<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div th:replace="fragments/submenu :: group(page)"></div>
        </div>

        <div class="col-md-6 gedf-main">
            <div class="card">
				<!-- List of information of group-->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h7 text-muted">Description</div>
                        <div class="h6" th:text="${group.description}"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="h7 text-muted">Owner</div>
                        <div class="h6" th:text="${group.owner.fullName}"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="h7 text-muted">Contact owner</div>
                        <div class="h6" th:text="${group.owner.email}"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="h7 text-muted">Total members</div>
                        <div class="h6" th:text="${#lists.size(group.members)}"></div>
                    </li>
					<!-- List requests to the group -->
                    <li class="list-group-item">
                        <div class="h7 text-muted"></div>
                        <div class="h6" th:if="${isMember == 1}">
                            <a th:href="@{/group/} + ${group.id} + '/leave'">Leave the group</a>
                        </div>
                        <div class="h6" th:if="${isMember == -1}">
                            <a th:href="@{/group/} +${group.id} + '/join'">Request to join group</a>
                        </div>
                        <div class="h6" th:if="${isMember == 0}">
                            Request has been sent.
                        </div>
                    </li>
                </ul>
            </div>
        </div> <!-- .col md 6 -->
        <div class="col-md-3">
            <div th:replace="fragments/submenu :: groupRightMenu(${group.id}, ${group.name}, page)"></div>
        </div><!-- .col-md-3 -->
    </div>
</div>
<!-- Custom styles for footer -->
<div th:replace="fragments/layout :: footer"/>

</body>
</html>