<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Empower | Sign up</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/loginstyle.css}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div th:if="${param.username}">
    <div class="alert">
		<!-- Alert message-->
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Username is taken
    </div>
</div>
<div th:if="${param.password}">
    <div class="alert">
		<!-- Alert message-->
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Passwords do not match
    </div>
</div>
<div th:if="${param.email}">
    <div class="alert">
		<!-- Alert message-->
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Email already taken
    </div>
</div>
<div class="login">
    <img th:src="@{/img/avatar.png}" class="avatar"> <!--sourcing image-->
    <h1>Create an account</h1>
    <form method="post" th:action="@{/create}"> <!-- creating a login form with username&passowrd-->
        <p>Full Name</p>
        <input type="text" name="fullName" placeholder="FirstName LastName">
        <p>Username</p>
        <input type="text" name="username" placeholder="Enter Username">
        <p>Email</p>
        <input type="text" name="email" placeholder="Enter Email">
        <p>Date of birth</p>
        <input type="text" name="dob" placeholder="DD/MM/YYYY">
        <p>Password</p>
        <input type="password" name="password" placeholder="Create Password">
        <input type="password" name="" placeholder="Re-Enter Password">
		<!-- Security question in case of username or password forgot-->
        <p>Security question</p>
        <input type="text" name="securityQuestion" placeholder="In case you forgot the password">
        <p>Security answer</p>
        <input type="password" name="securityAnswer" placeholder="">
        <p>Role:</p>
        <input type="radio" name="role" value="ROLE_TEACHER"> Teacher &ensp;&ensp;
        <input type="radio" name="role" value="ROLE_PARENT"> Parent
        <p><input type="Submit" name="submit" value="Sign up"></p>
        <br><!-- a submit button with a login value-->

        <!-- adding a forgot my password and create an account button-->

    </form>
</div>

</body>
</html>