<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <link th:href="@{/css/loginstyle.css}" href="/css/loginstyle.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="loginstyle.css">

</head>
<body>

<div th:if="${param.error}">
    <div class="alert alert-danger">Unable to change password.</div>
</div>

<div class="login">
    <img th:src="@{/img/avatar.png}" class="avatar">
    <!--sourcing image-->
    <h1>Login</h1>
    <form th:action="@{/changePassword}" method="post">
        <!-- creating a login form with username&passowrd-->
        <p>New password</p>
        <input type="password" name="newPassword" placeholder="Enter new password">
        <p>Confirm password</p>
        <input type="password" name="confirmPassword" placeholder="Repeat the password">
        <input type="hidden" name="username" th:value="${username}">
        <input type="submit" name="" value="Change"><br>
        <!-- a submit button with a change value-->

        <!-- adding create an account button-->
        <a th:href="@{/create}">Create an account</a>
    </form>
</div>

</body>
</html>