<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Custom styles for header -->
    <div th:replace="fragments/layout :: header"/>
</head>
<body>
<div th:replace="fragments/layout :: nav(search)"/>

<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
        </div>

        <div class="col-md-6 gedf-main">
            <!-- search page to display all the results -->
            <div class="card gedf-card" th:each="user : ${users}">
                <div th:replace="user/card :: card(${user})"/>
            </div>
            <div class="card gedf-card" th:each="group : ${groups}">
                <div th:replace="group/card :: card(${group})"/>
            </div>

        </div> <!-- .col md 6 -->
        <div class="col-md-3 text-center">

        </div>
    </div>
</div>

<!-- Custom styles for footer -->
<div th:replace="fragments/layout :: footer"/>


</body>
</html>