<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: header"/>
</head>
<body>
<div th:replace="fragments/layout :: nav(search)"/>

<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
        </div>

        <div class="col-md-6 gedf-main">
            <!-- search page to display all the results -->
            <div class="card gedf-card" th:each="user : ${users}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${user.fullName}"></h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${user.role}"></h6>
                    <p class="card-text" th:text="${user.username}"></p>
                    <a th:href="@{/user/profile/} + ${user.id}" class="card-link">View profile</a>
                </div>
            </div>
            <div class="card gedf-card" th:each="group : ${groups}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${group.name}"></h5>
                    <p class="card-text text-muted">
                        <span th:text="${group.description}"></span><br/>
                        Members (<span th:text="${#lists.size(group.members)}"></span>)
                    </p>

                </div>
            </div>

        </div> <!-- .col md 6 -->
        <div class="col-md-3 text-center">

        </div>
    </div>
</div>


<div th:replace="fragments/layout :: footer"/>


</body>
</html>