<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: header"/>
</head>
<body>
<div th:replace="fragments/layout :: nav"/>

<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <!--<div class="card">-->
            <!--<div class="card-body">-->
            <!--<div class="h5" th:text="${session.name}">Username</div>-->
            <!--<div class="h7 text-muted">-->
            <!--<a th:href="@{/user/profile/}"><i class="fas fa-external-link-alt"></i> View profile</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--<ul class="list-group list-group-flush">-->
            <!--<li class="list-group-item">-->
            <!--<div class="h7 text-muted">Fullname</div>-->
            <!--<div class="h6" th:text="${session.full_name}"></div>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
        </div>
        <div class="col-md-6 gedf-main">
            Welcome to Empower !!
        </div>
        <div class="col-md-3">
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title">News by developer !!! </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Follow this space for upcoming news</h6>
                    <p class="card-text">Sprint 4 Features have been implemented which include friends, search and wall.</p>
                    <a href="https://github.com/varunsinghal/soen-341" class="card-link" target="_blank">Source code</a>
                    <a href="https://github.com/varunsinghal/soen-341/issues" class="card-link" target="_blank">Raise
                        issue</a>
                </div>
            </div>
            <!--<div class="card gedf-card">-->
            <!--<div class="card-body">-->
            <!--<h5 class="card-title">Card title</h5>-->
            <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
            <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the-->
            <!--card's content.</p>-->
            <!--<a href="#" class="card-link">Card link</a>-->
            <!--<a href="#" class="card-link">Another link</a>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>

<div th:replace="fragments/layout :: footer"/>
</body>
</html>