<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: header"/>
</head>
<body>
<div th:replace="fragments/layout :: nav"/>

<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
        </div>

        <div class="col-md-6 gedf-main">
            <div class="card">
                <div class="card-body">
                    <div class="h5" th:text="${user.username}"></div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h7 text-muted">Fullname</div>
                        <div class="h6" th:text="${user.fullName}"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="h7 text-muted">Email</div>
                        <div class="h6" th:text="${user.email}"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="h7 text-muted">Date of birth</div>
                        <div class="h6" th:text="${user.dob}"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="h7 text-muted">Description</div>
                        <div class="h6" th:text="${user.description}"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="h7 text-muted">Role</div>
                        <div class="h6" th:text="${user.role}"></div>
                    </li>
                    <li class="list-group-item" th:if="${session.user_id} == ${user.id}">
                        <a th:href="@{/user/edit/}"><i class="fas fa-edit"></i> Edit profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/layout :: footer"/>


</body>
</html>