<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: header"/>
</head>
<body>
<div th:replace="fragments/layout :: nav"/>
<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
        </div>

        <div class="col-md-6 gedf-main">
            <div class="card">
                <div class="card-body">
                    <div class="h5" th:text="${user.username}"></div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h7 text-muted">Fullname</div>
                        <div class="h6" th:text="${user.fullName}"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="h7 text-muted">Email</div>
                        <div class="h6" th:text="${user.email}"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="h7 text-muted">Date of birth</div>
                        <div class="h6" th:text="${user.dob}"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="h7 text-muted">Description</div>
                        <div class="h6" th:text="${user.description}"></div>
                    </li>
                    <li class="list-group-item">
                        <div class="h7 text-muted">Role</div>
                        <div class="h6" th:text="${user.role}"></div>
                    </li>
                </ul>
            </div>
        </div> <!-- .col md 6 -->
        <div class="col-md-3 text-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/User_font_awesome.svg" height="200px">
            <ul class="nav flex-column">
                <li class="nav-item" th:if="${session.user_id} == ${user.id}">
                    <a class="nav-link" th:href="@{/user/edit/}"><i class="fas fa-edit"></i> Edit profile</a>
                </li>
                <li class="nav-item" th:if="${session.user_id} == ${user.id}">
                    <a class="nav-link" th:href="@{/wall/}"><i class="fas fa-comment-alt"></i> My wall</a>
                </li>
                <li class="nav-item" th:if="${session.user_id} != ${user.id} and ${friendStatus} == '1'">
                    <a class="nav-link" th:href="@{/wall/} + ${user.id}">
                        <i class="fas fa-comment-alt"></i> Visit the wall
                    </a>
                </li>
                <li class="nav-item" th:if="${session.user_id} != ${user.id} and ${friendStatus} == '1'">
                    <a class="nav-link" th:href="@{/friend/remove} + '?id=' + ${user.id}" id="removeFriend">
                        <i class="fas fa-user-minus"></i> Remove friend
                    </a>
                </li>
                <li class="nav-item" th:if="${session.user_id} != ${user.id} and ${friendStatus} == '-1'">
                    <a class="nav-link" href="#" id="addFriend">
                        <i class="fas fa-user-plus"></i> Add Friend
                    </a>
                </li>
                <li class="nav-item" th:if="${session.user_id} != ${user.id} and ${friendStatus} == '0s'">
                    <a class="nav-link disabled" href="#">
                        <i class="fas fa-user-clock"></i> Friend request sent.
                    </a>
                </li>
                <li class="nav-item" th:if="${session.user_id} != ${user.id} and ${friendStatus} == '0r'">
                    <a class="nav-link disabled" href="#">
                        <i class="fas fa-user-clock"></i> Friend request received.
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<form name="addFriend" th:action="@{/friend/add}" method="POST">
    <input type="hidden" name="user.id" th:value="${session.user_id}">
    <input type="hidden" name="otherUser.id" th:value="${user.id}">
</form>
<div th:replace="fragments/layout :: footer"/>
<script>
    $("#addFriend").click(function(){
        $("form[name='addFriend']").submit();
    });
</script>

</body>
</html>