<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: header"/>
</head>
<body>
<div th:replace="fragments/layout :: nav(home)"/>

<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div th:replace="fragments/submenu :: wall"></div>
        </div>
        <div class="col-md-6 gedf-main">

            <!--- \\\\\\\Post-->
            <div class="card gedf-card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab"
                               aria-controls="posts" aria-selected="true">Make
                                announcement</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images"
                               aria-selected="false" href="#images">Image</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="posts" role="tabpanel"
                             aria-labelledby="posts-tab">
                            <!-- form text post -->
                            <form th:action="@{/wall/addPost} + '/' + ${owner.id}" method="post">
                                <div class="form-group">
                                    <label class="sr-only" for="message">post</label>
                                    <input class="form-control" placeholder="Title" type="text" name="title"/>
                                </div>

                                <div class="form-group">
                                    <label class="sr-only" for="message">post</label>
                                    <textarea class="form-control" id="message" rows="3"
                                              placeholder="What are you thinking?" name="text"></textarea>
                                </div>
                                <div class="btn-toolbar justify-content-between">
                                    <input type="hidden" name="user.id" th:value="${session.user_id}"/>
                                    <input type="hidden" name="belongsTo.id" th:value="${owner.id}">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-primary">share</button>
                                    </div>

                                </div>
                            </form> <!-- . form text post ends -->
                        </div>
                        <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                            <form method="POST" enctype="multipart/form-data"
                                  th:action="@{/wall/addPostImage/} + ${owner.id}">
                                <div class="form-group">
                                    <label class="sr-only" for="message">post</label>
                                    <input class="form-control" placeholder="Caption" type="text" name="title"/>
                                </div>

                                <div class="form-group">
                                    <div class="custom-file">
                                        <br>
                                        <input type="file" name="file"/>
                                    </div>
                                </div>
                                <br><br>
                                <div class="btn-toolbar justify-content-between">
                                    <input type="hidden" name="text" value="" />
                                    <input type="hidden" name="user.id" th:value="${session.user_id}"/>
                                    <input type="hidden" name="belongsTo.id" th:value="${owner.id}">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-primary">share</button>
                                    </div>
                                </div>
                            </form>

                            <!--<div class="py-4"></div>-->
                        </div>
                    </div>

                </div>

            </div>
            <!-- Post /////-->

            <!--- \\\\\\\Post-->
            <div class="card gedf-card" th:each="card : ${cards}">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <div class="mr-2">
                                <img class="" width="45" src="https://picsum.photos/50/50" alt="">
                            </div>
                            <div class="ml-2">
                                <a th:href="@{/user/profile/} + ${card.user.id}">
                                    <div class="h5 m-0" th:text="${card.user.fullName}"></div>
                                </a>
                                <div class="h7 text-muted" th:text="${card.user.username}"></div>
                                <div class="text-muted h7"><i class="far fa-clock"></i> <span
                                        th:text="${card.created}"></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                    <div class="h6 dropdown-header">Configuration</div>
                                    <a class="dropdown-item" href="#">Save</a>
                                    <a class="dropdown-item" href="#">Hide</a>
                                    <a class="dropdown-item" href="#">Report</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <a class="card-link" href="#">
                        <h5 class="card-title" th:text="${card.title}"></h5>
                    </a>
                    <p class="card-text" th:if="${card.filename} != null">
                        <img th:src="@{/files/fetch/} + ${card.filename}" class="wall-image">
                    </p>
                    <p class="card-text" th:if="${card.text} != null" th:text="${card.text}"></p>
                </div>
                <!-- like dislike -->
                <div class="card-footer form-inline">
                    <span th:text="${#lists.size(card.likes)}"></span>&ensp;
                    <span th:if="${#lists.contains(likedCards, card.id)}">
                        <form method="post" th:action="@{/wall/removeLike/} + ${owner.id}">
                            <input type="hidden" name="card.id" th:value="${card.id}">
                            <input type="hidden" name="user.id" th:value="${session.user_id}">
                            <i class="fas fa-thumbs-up"></i>
                            <input type="submit" value="Liked" class="btn btn-link">
                        </form>
                    </span>
                    <span th:unless="${#lists.contains(likedCards, card.id)}">
                        <form method="post" th:action="@{/wall/addLike/} + ${owner.id}">
                            <input type="hidden" name="card.id" th:value="${card.id}">
                            <input type="hidden" name="user.id" th:value="${session.user_id}">
                            <i class="far fa-thumbs-up"></i>
                            <input type="submit" value="Like" class="btn btn-link">
                        </form>
                    </span>
                    &ensp;&ensp;
                    <span th:text="${#lists.size(card.dislikes)}"></span>&ensp;
                    <span th:if="${#lists.contains(dislikedCards, card.id)}">
                        <form method="post" th:action="@{/wall/removeDislike/} + ${owner.id}">
                            <input type="hidden" name="card.id" th:value="${card.id}">
                            <input type="hidden" name="user.id" th:value="${session.user_id}">
                            <i class="fas fa-thumbs-down"></i>
                            <input type="submit" value="Disliked" class="btn btn-link">
                        </form>
                    </span>
                    <span th:unless="${#lists.contains(dislikedCards, card.id)}">
                        <form method="post" th:action="@{/wall/addDislike/} + ${owner.id}">
                            <input type="hidden" name="card.id" th:value="${card.id}">
                            <input type="hidden" name="user.id" th:value="${session.user_id}">
                            <i class="far fa-thumbs-down"></i>
                            <input type="submit" value="Dislike" class="btn btn-link">
                        </form>
                    </span>

                </div>
                <!-- .like dislike ends -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:each="comment: ${card.comments}">
                        <a th:href="@{/user/profile/} + ${comment.user.id}"><span
                                th:text="${comment.user.fullName}"></span></a>
                        :
                        <span th:text="${comment.text}"><i>Some comment...</i></span>
                        <span th:text="${comment.created}" style="float:right"></span>
                    </li>
                </ul>
                <div class="card-body">
                    <form method="post" th:action="@{/wall/addComment} + '/' + ${owner.id}" class="form-inline">
                        <div class="input-group col-10" style="padding-left:0px">
                            <input type="text" class="form-control comment" name="text" placeholder="Comment..."/>
                            <input type="hidden" name="user.id" th:value="${session.user_id}"/>
                            <input type="hidden" name="card.id" th:value="${card.id}"/><br>
                        </div>
                        <button type="submit" class="btn btn-primary float-right btn-primary mb-2 ">Add</button>
                    </form>
                </div>
            </div>
            <!-- Post /////-->

        </div>
        <div class="col-md-3">
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title">News by developer !!! </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Follow this space for upcoming news</h6>
                    <p class="card-text">Sprint 4 Features have been implemented which include friends and wall.</p>
                    <a href="https://github.com/varunsinghal/soen-341" class="card-link" target="_blank">Source code</a>
                    <a href="https://github.com/varunsinghal/soen-341/issues" class="card-link" target="_blank">Raise
                        issue</a>
                </div>
            </div>
        </div><!-- .col-md-3 -->
    </div>
</div>
<!-- Custom styles for footer -->
<div th:replace="fragments/layout :: footer"/>
<div style="display:none" id="friendsList" th:text="${friends}"></div>
<script>
var friends = JSON.parse($("#friendsList").text());

var tribute = new Tribute({
  values: friends,
   // column to search against in the object (accepts function or string)
  lookup: 'name',
  // template for displaying item in menu
  menuItemTemplate: function (item) {
    return item.original.name;
  },
  // function called on select that returns the content to insert
  selectTemplate: function (item) {
    return '@' + item.original.username;
  }
});

tribute.attach($('#message'));
tribute.attach($(".comment"));

</script>
</body>
</html>