html{
    font-size:0.7em;
}
body {
            background-color: #eeeeee;
        }

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}

.btn-link{
    padding: 0px;
}

.wall-image{
    height: 200px;
}

#newNotification i{
        vertical-align: top;
        font-size: 0.7em;
        display:none;
        color: #05728f;
}

.navbar .navbar-nav .nav-link.active{
    color: blue;
}

.list-group-item.active{
    background-color: #05728f;
}
.list-group-item.active div a{ color:white;}

