<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: header"/>
</head>
<body>
<div th:replace="fragments/layout :: nav(friend)"/>

<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
        </div>

        <div class="col-md-6 gedf-main">
            <!-- Nav bar at the top of page with 3 links -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/friend}"><i class="fas fa-user-friends"></i> Current friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/friend/received}">
                        <i class="fa fa-arrow-left"></i> Received
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/friend/sent}">
                        <i class="fa fa-arrow-right"></i>
                        Sent
                    </a>
                </li>
            </ul>
            <!-- received friend requests -->
            <div class="card gedf-card" th:each="request : ${requests}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${request.user.fullName}"></h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${request.user.username}"></h6>
                    <p class="card-text"></p>
                    <form th:action="@{/friend/accept}" class="form-inline">
                        <input type="hidden" name="id" th:value="${request.id}">
                        <input type="hidden" name="user.id" th:value="${request.user.id}">
                        <input type="hidden" name="otherUser.id" th:value="${request.otherUser.id}">
                        <i class="fas fa-check"></i> <input type="submit" class="btn btn-link" value="Accept">
                    </form>
                    <form th:action="@{/friend/decline}" class="form-inline">
                        <input type="hidden" name="id" th:value="${request.id}">
                        <input type="hidden" name="user.id" th:value="${request.user.id}">
                        <input type="hidden" name="otherUser.id" th:value="${request.otherUser.id}">
                        <i class="fas fa-times"></i> <input type="submit" class="btn btn-link" value="Decline">
                    </form>
                    <a th:href="@{/user/profile/} + ${request.user.id}" class="card-link"><i class="fas fa-external-link-alt"></i> View profile</a>
                </div>
            </div>
        </div> <!-- .col md 6 -->
        <div class="col-md-3 text-center">

        </div>
    </div>
</div>


<div th:replace="fragments/layout :: footer"/>


</body>
</html>