<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/layout :: header" />
</head>
<body>
	<div th:replace="fragments/layout :: nav" />
	<div class="container">
		<!-- Content here -->
		<div class="row justify-content-center">
			<div class="col-8 ">
				<div class="card bg-light mb-3">
					<div class="card-body">
                        <h5 class="card-body">Add Announcement</h5>
						<form th:action="@{/teacher/addPost}" method="post">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Title"
									name="title">
							</div>
							<div class="form-group">
								<textarea class="form-control" rows="3" name="text"></textarea>
							</div>
							<input type="hidden" name="user.id" th:value="${session.user_id}" />
							<button type="submit" class="btn btn-primary mb-2">Post</button>
						</form>
					</div>
				</div>

				<br />
				<hr>
				<br />
				<div class="card border-0 mb-3" th:each="card : ${cards}">
					<div class="card-body">
						<h5 class="card-title" th:text="${card.title}">Card title</h5>
						<h6 class="card-subtitle mb-2 text-muted"
							th:text="${card.user.name}">author</h6>
							<span th:text="${card.created}"></span>
						<p class="card-text" th:text="${card.text}">Some quick example
							text to build on the card title and make up the bulk of the
							card's content.</p>
						
						<!-- comments -->
                        <div class="card " th:each="comment: ${card.comments}">
							<div class="card-body">
								<p class="card-text">
								<span th:text="${comment.user.name}"></span>
								<span th:text="${comment.created}"></span>
								<span th:text="${comment.text}"><i>Some
									comment...</i></span></p>
							</div>
						</div>
                        <br>
						<div class="card border-0  " >
							<form method="post" th:action="@{/teacher/addComment}">
								<input type="text" class="form-control" name="text" />
								<input type="hidden" name="user.id" th:value="${session.user_id}" />
								<input type="hidden" name="card.id" th:value="${card.id}" /><br>
								<button type="submit" class="btn float-right btn-primary mb-2 ">Comment</button>
							</form>
						</div>

						<!-- comments end -->
					</div>
				</div>



			</div>
			
		</div>

	</div>
    

	<div th:replace="fragments/layout :: footer" />
</body>
</html>